<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VIZO</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap-cosmo.min.css" rel="stylesheet">
    <link href="bower_components/jasny-bootstrap/dist/css/fileinput.min.css" rel="stylesheet">
    <link href="bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/styles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <header class="slider">
      <div class="container">
        <div class="col-md-2 col-sm-2 el-logo-space">
          <div class="row">
            <a href="#" class="logo">VIZOV</a>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 el-search-space">
          <form>
            <div class="input-group">
              <input type="text" class="form-control input-sm" placeholder="Для поиска введите название услуги">
              <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button">
                  <i class="glyphicon glyphicon-search"></i> Найти
                </button>
              </span>
            </div>
          </form>
        </div>
        <div class="col-md-4 col-sm-4 el-profile-space">
          <div class="row">
            <ul class="profile-links list-inline pull-right">
              <li><a href="#">Регистрация</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Личный кабинет <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Мой профиль</a></li>
                  <li><a href="#">Администрация</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Выход</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <!-- Nav Services -->
    <nav class="bg-nav-services">
      <div class="container">
        <div class="col-md-2 col-sm-2">
          <div class="row">
            <ul class="nav navbar-nav ">
              <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Алматы <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#almaty">Алматы</a></li>
                  <li><a href="#astana">Астана</a></li>
                  <li><a href="#aktau">Актау</a></li>
                  <li><a href="#aktobe">Актобе</a></li>
                  <li><a href="#atyrau">Атырау</a></li>
                  <li><a href="#zhezkazgan">Жезказган</a></li>
                  <li><a href="#karaganda">Караганда</a></li>
                  <li><a href="#kokshetau">Кокшетау</a></li>
                  <li><a href="#kostanaj">Костанай</a></li>
                  <li><a href="#kyzylorda">Кызылорда</a></li>
                  <li><a href="#pavlodar">Павлодар</a></li>
                  <li><a href="#petropavlovsk">Петропавловск</a></li>
                  <li><a href="#semej">Семей</a></li>
                  <li><a href="#taldykorgan">Талдыкорган</a></li>
                  <li><a href="#taraz">Тараз</a></li>
                  <li><a href="#temirtau">Темиртау</a></li>
                  <li><a href="#uralsk">Уральск</a></li>
                  <li><a href="#ustkamenogorsk">Усть-Каменогорск</a></li>
                  <li><a href="#shymkent">Шымкент</a></li>
                  <li><a href="#jekibastuz">Экибастуз</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <div class="row">
            <ul class="nav nav-lines">
              <li>
                <a href="index.html#tab_call">Услуги вызова</a>
              </li>
              <li>
                <a href="index.html#tab_repair">Услуги ремонта</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="row">
            <button class="btn btn-success btn-sm btn-post-service pull-right" type="button">
              <i class="glyphicon glyphicon-plus"></i> Разместить услугу
            </button>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <br>
      <div class="content-block">
        <h3 class="col-md-offset-2">Разместить услугу</h3>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="title_post" class="col-md-2">Заголовок объявления *</label>
            <div class="col-md-6">
              <div class="row">
                <input type="text" class="form-control" id="title_post" minlength="5" maxlength="80" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="section" class="col-md-2">Рубрика</label>
            <div class="col-md-6">
              <div class="row">
                <select class="form-control" name="section_id" id="section">
                  <optgroup label="Услуги вызова">
                    <option value="1">Вскрытие замков</option>
                    <option value="2">Клининговые услуги</option>
                    <option value="3">Образовательные услуги</option>
                    <option value="4">Услуги няни</option>
                    <option value="5">Услуги перевозчика</option>
                    <option value="6">Услуги сантехника</option>
                    <option value="7">Услуги плотника</option>
                    <option value="8">Услуги электрика</option>
                  </optgroup>
                  <optgroup label="Услуги ремонта">
                    <option value="9">Ремонт авто</option>
                    <option value="10">Ремонт бытовой техники</option>
                    <option value="11">Ремонт домов и квартир</option>
                    <option value="12">Ремонт обуви</option>
                    <option value="13">Ремонт одежды</option>
                    <option value="14">Ремонт и реставрация мебели</option>
                    <option value="15">Химчистка</option>
                  </optgroup>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="price" class="col-md-2">Цена *</label>
            <div class="col-md-6">
              <div class="row">
                <div class="input-group">
                  <input type="text" class="form-control" id="price" maxlength="10" required>
                  <div class="input-group-addon">тг</div>
                </div>
                <div class="check">
                  <br>
                  <label>
                    <input type="checkbox" id="deal"> Договорная цена
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="price" class="col-md-2">Описание</label>
            <div class="col-md-6">
              <div class="row">
                <textarea class="form-control" name="description" id="description" rows="3" maxlength="2000"></textarea>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="price" class="col-md-2">Фотографии<br><br> <small class="text-muted">Объявления<br> с фотографиями привлекают клиентов<br> на 80% больше</small></label>
            <div class="col-md-6">
              <div class="row">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                  <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 186px; height: 120px;"></div>
                  <div>
                    <span class="btn btn-default btn-file">
                      <span class="fileinput-new"><i class="glyphicon glyphicon-folder-open"></i>&nbsp; Выбрать</span>
                      <span class="fileinput-exists"><i class="glyphicon glyphicon-folder-open"></i></span>
                      <input type="file" name="images[]">
                    </span>
                    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput"><i class="glyphicon glyphicon-trash"></i> Удалить</a>
                  </div>
                </div>
                <div class="fileinput fileinput-new" data-provides="fileinput">
                  <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 186px; height: 120px;"></div>
                  <div>
                    <span class="btn btn-default btn-file">
                      <span class="fileinput-new"><i class="glyphicon glyphicon-folder-open"></i>&nbsp; Выбрать</span>
                      <span class="fileinput-exists"><i class="glyphicon glyphicon-folder-open"></i></span>
                      <input type="file" name="images[]">
                    </span>
                    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput"><i class="glyphicon glyphicon-trash"></i> Удалить</a>
                  </div>
                </div>
                <div class="fileinput fileinput-new" data-provides="fileinput">
                  <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 186px; height: 120px;"></div>
                  <div>
                    <span class="btn btn-default btn-file">
                      <span class="fileinput-new"><i class="glyphicon glyphicon-folder-open"></i>&nbsp; Выбрать</span>
                      <span class="fileinput-exists"><i class="glyphicon glyphicon-folder-open"></i></span>
                      <input type="file" name="images[]">
                    </span>
                    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput"><i class="glyphicon glyphicon-trash"></i> Удалить</a>
                  </div>
                </div>
                <p class="btn btn-link btn-sm" id="btn-toggle">
                  <i class="glyphicon glyphicon-plus"></i> Больше
                </p>
                <div id="fileinput-part">
                  <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 185px; height: 120px;"></div>
                    <div>
                      <span class="btn btn-default btn-file">
                        <span class="fileinput-new"><i class="glyphicon glyphicon-folder-open"></i>&nbsp; Выбрать</span>
                        <span class="fileinput-exists"><i class="glyphicon glyphicon-folder-open"></i></span>
                        <input type="file" name="images[]">
                      </span>
                      <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput"><i class="glyphicon glyphicon-trash"></i> Удалить</a>
                    </div>
                  </div>

                  <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 185px; height: 120px;"></div>
                    <div>
                      <span class="btn btn-default btn-file">
                        <span class="fileinput-new"><i class="glyphicon glyphicon-folder-open"></i>&nbsp; Выбрать</span>
                        <span class="fileinput-exists"><i class="glyphicon glyphicon-folder-open"></i></span>
                        <input type="file" name="images[]">
                      </span>
                      <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput"><i class="glyphicon glyphicon-trash"></i> Удалить</a>
                    </div>
                  </div>
                  <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 185px; height: 120px;"></div>
                    <div>
                      <span class="btn btn-default btn-file">
                        <span class="fileinput-new"><i class="glyphicon glyphicon-folder-open"></i>&nbsp; Выбрать</span>
                        <span class="fileinput-exists"><i class="glyphicon glyphicon-folder-open"></i></span>
                        <input type="file" name="images[]">
                      </span>
                      <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput"><i class="glyphicon glyphicon-trash"></i> Удалить</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <h4>Контактная информация</h4>
          <br>
          <div class="form-group">
            <label for="city" class="col-md-2">Город</label>
            <div class="col-md-6">
              <div class="row">
                <select class="form-control" name="city_id" id="city">
                  <option value="almaty">Алматы</option>
                  <option value="astana">Астана</option>
                  <option value="aktau">Актау</option>
                  <option value="aktobe">Актобе</option>
                  <option value="atyrau">Атырау</option>
                  <option value="zhezkazgan">Жезказган</option>
                  <option value="karaganda">Караганда</option>
                  <option value="kokshetau">Кокшетау</option>
                  <option value="kostanaj">Костанай</option>
                  <option value="kyzylorda">Кызылорда</option>
                  <option value="pavlodar">Павлодар</option>
                  <option value="petropavlovsk">Петропавловск</option>
                  <option value="semej">Семей</option>
                  <option value="taldykorgan">Талдыкорган</option>
                  <option value="taraz">Тараз</option>
                  <option value="temirtau">Темиртау</option>
                  <option value="uralsk">Уральск</option>
                  <option value="ustkamenogorsk">Усть-Каменогорск</option>
                  <option value="shymkent">Шымкент</option>
                  <option value="jekibastuz">Экибастуз</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="address" class="col-md-2">Адрес</label>
            <div class="col-md-6">
              <div class="row">
                <input type="text" class="form-control" id="address" maxlength="80">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="phone" class="col-md-2">Телефон</label>
            <div class="col-md-6">
              <div class="row">
                <input type="tel" class="form-control" id="phone" minlength="5" maxlength="40" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-md-2">Email</label>
            <div class="col-md-6">
              <div class="row">
                <input type="email" class="form-control" id="email" maxlength="40">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="comment" class="col-md-2">Разрешить комментарии *</label>
            <div class="col-md-6">
              <div class="row">
                <select class="form-control" name="city_id" id="city">
                  <option value="all">Всем</option>
                  <option value="nobody">Никому</option>
                  <option value="registered_users">Только зарегистрированным пользователям</option>
                </select>
                <br>
                <p>Размещая объявления на сайте, вы соглашаетесь с <a href="#">этими правилами</a>.</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 col-md-offset-2">
              <div class="row">
                <button type="submit" class="btn btn-primary">Разместить объявление</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <footer class="footer">
      <hr>
      <div class="container">
        <div class="col-md-3">
          <p>© 2015 — 2016 «VIZOV»</p>
        </div>
        <div class="col-md-9">
          <ul class="list-unstyled list-inline">
            <li><a href="#">О проекте</a></li>
            <li><a href="#">Написать письмо</a></li>
            <li><a href="#">Правила сайта</a></li>
            <li><a href="#">Реклама на сайте</a></li>
            <li><a href="#">Карта сайта</a></li>
          </ul>
        </div>
        <div class="col-md-12 text-center">
          <br>
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-facebook fa-2x"></i> </a></li>
            <li><a href="#"><i class="fa fa-vk fa-2x"></i> </a></li>
            <li><a href="#"><i class="fa fa-google-plus fa-2x"></i> </a></li>
            <li><a href="#"><i class="fa fa-twitter fa-2x"></i> </a></li>
            <li><a href="#"><i class="fa fa-youtube fa-2x"></i> </a></li>
            <li><a href="#"><i class="fa fa-linkedin fa-2x"></i> </a></li>
            <li><a href="#"><i class="fa fa-instagram fa-2x"></i> </a></li>
          </ul>
        </div>
      </div>
      <br>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/jasny-bootstrap/js/fileinput.js"></script>
    <script src="bower_components/bootstrap-maxlength/src/bootstrap-maxlength.js"></script>
    <script src="bower_components/bootstrap/dist/js/custom.js"></script>
  </body>
</html>